@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-tap-highlight-color: transparent;
    @apply bg-background-dark text-white;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    user-select: none;
  }
  .material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  
  /* Effects */
  .ios-blur {
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
  }
  .luminous-glow {
      box-shadow: 0 0 15px 2px rgba(59, 130, 246, 0.5); /* Blue glow */
  }
  .luminous-glow-green {
      box-shadow: 0 0 15px 2px rgba(74, 222, 128, 0.5);
  }
  .glow-cyan {
      filter: drop-shadow(0 0 8px rgba(0, 242, 255, 0.4));
  }
  .glow-purple {
      filter: drop-shadow(0 0 8px rgba(188, 19, 254, 0.4));
  }
  .glow-orange {
      filter: drop-shadow(0 0 8px rgba(255, 140, 0, 0.4));
  }

  /* Hide scrollbar */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
